html {
    font-family: 'Ropa Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.nome{
	background-color: #FFAE64;
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.brand-logo{
	margin-left: 5%;
}

.menu{
	margin-right: 5%;
}

.side-nav{
	background-color: #7DAD71;
}

.side-nav a{
	color: white;
	background-color: rgb(135, 180, 123);
	margin: 3px 0;
}

nav ul a{
	margin-right: 10%;
	font-size: 18px;
}
main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
    margin: 0 0 10px;
    color: #FFAE64;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	height: auto;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}
[type="radio"]:not(:checked),
[type="radio"]:checked{
    opacity:1;
    left:0;
    position:relative;
}
input:not([type]), 
input[type=text], input[type=password],
input[type=email], input[type=url], input[type=time], 
input[type=date], input[type=datetime], input[type=datetime-local], 
input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	width: 50%;
}
.enviar {
	width:40%;
	padding: 15px 0;
	background: #7DAD71;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: rgb(64, 110, 53);
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
	width: 0;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

.rodape{
	box-sizing: content-box;
	background-color: #FFAE64;
	color: white;
	padding: 1.5% 0 0 0;

}

.slogan{
	text-align: center;
	font-size: 25px;
	align-self: center;
	margin: 0;
}

.icones i{
	margin: 10px 3px 0 3px;
	padding-bottom: 1.5%;
}
.icones{
    font-size: 20px;
	text-align: center;	
}