html {
	font-family: 'Ropa Sans', sans-serif;
	width: 100%;
	height: auto;
}
.nome{
	background-color: #FFAE64;
	padding: 3% 0 3% 0;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: white;
}
/*menu retratil*/
#check{ 
    display: none;
}

#icone{
    cursor: pointer;
    padding: 40px 5px 5px 5px;
    position: absolute;
    z-index: 1;

}

.barra{
    background-color: #7DAD71;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}

nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.link{
    background-color: rgb(115, 168, 102)   ;
    padding: 20px;
    font-size: 24px;
    transition: all .2s linear;
    border-bottom: 2px solid #7DAD71;
}

.link:hover{
    background-color: rgb(158, 194, 149);
}

#check:checked ~ .barra{
    transform: translateX(300px);
}
.frases{
	text-align: center;
	font-size: 24px;
	color: #7DAD71;
	margin-top: 30px;
}
.frase{
	text-align: center;
	font-size: 24px;
	color: #7DAD71;
	margin-bottom: 30px;

}

.sequencia{	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

p{
    text-align: left;
    margin-top: 30px;
    font-size: 24px;
    margin-left: 40px;
    color: #FFAE64;
}

.texto{
	font-size: 24px;
	color: #7DAD71;
	margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.rodape{
	background-color: #FFAE64;
	padding: 2% 0 2% 0;
	color: white;
}

.slogan{
    color: white;
	text-align: center;
	font-size: 25px;
	margin-bottom: 2%;
}

.icones i{
    margin: 0 3px 0 3px;
}
.icones{
    font-size: 20px;
    text-align: center;
}