html {
	font-family: 'Ropa Sans', sans-serif;
	width: 100%;
	height: auto;

}
.nome{
	background-color: #FFAE64;	
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.brand-logo{
	margin-left: 5%;
}

.menu{
	margin-right: 5%;
}

.side-nav{
	background-color: #7DAD71;
}

.side-nav a{
	color: white;
	background-color: rgb(135, 180, 123);
	margin: 3px 0;
}

nav ul a{
	margin-right: 10%;
	font-size: 18px;
} 

p{
    text-align: left;
    margin-top: 30px;
    font-size: 30px;
    margin-left: 40px;
    color: #FFAE64;
    font-weight: bold;
}

.texto{
	font-size: 24px;
	color: #7DAD71;
	margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-weight: normal;
}

.rodape{
	box-sizing: content-box;
	background-color: #FFAE64;
	color: white;
	padding: 1.5% 0 0 0;

}

.slogan{
    color: white;
	text-align: center;
	font-size: 25px;
	align-self: center;
    margin: 0;
    font-weight: normal;
}

.icones i{
	margin: 10px 3px 0 3px;
	padding-bottom: 1.5%;
}
.icones{
    font-size: 20px;
	text-align: center;	
}