html {
	font-family: 'Ropa Sans', sans-serif;
	width: 100%;
	height: auto;

}
.nome{
	background-color: #FFAE64;	
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.brand-logo{
	margin-left: 5%;
}

.menu{
	margin-right: 5%;
}

.side-nav{
	background-color: #7DAD71;
}

.side-nav a{
	color: white;
	background-color: rgb(135, 180, 123);
	margin: 3px 0;
}

nav ul a{
	margin-right: 10%;
	font-size: 18px;
}


/*slide imagem*/

#slides{
	list-style: none; 
	position: relative; 
	width: 80%;
	max-width: 900px;
	height:400px;
	margin:0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}

#slides li{
	position: absolute;
	top:10%;
	left:0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

#slides li.slider-active{
	z-index: 1;
	opacity: 1;
}
img{	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.sequencia{	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.frase{
	text-align: left;
	font-size: 30px;
	color: #FFAE64;
	margin-left: 5%;
	font-weight: bold;

}

.texto{
	text-align: justify;
	font-size: 24px;
	color: #7DAD71;
	margin-left: 8%;
	margin-right: 9%;
}

.rodape{
	box-sizing: content-box;
	background-color: #FFAE64;
	color: white;
	padding: 1.5% 0 0 0;

}

.slogan{
	text-align: center;
	font-size: 25px;
	align-self: center;
	margin: 0;
}

.icones i{
	margin: 10px 3px 0 3px;
	padding-bottom: 1.5%;
}
.icones{
    font-size: 20px;
	text-align: center;	
}